@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=PT+Serif+Caption:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif Caption", serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
}

h1{
    font-family: "Fredericka the Great", serif;
}

hr{
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
}

.tic-tac {
  display: grid;
  grid-template-columns: auto auto auto;
}

.tic-tac button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: #f7f7f7;
}

.reset{
    background-color: rgb(240, 255, 27);
    width: 8rem;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}

.reset:hover{
    background-color: rgb(203, 216, 23);
}

@media(min-width: 1020px){
    .tic-tac button {
        width: 150px;
        height: 150px;
        margin: 5px;
        cursor: pointer;
        font-size: 100px;
        background: #f7f7f7;
    }

    h1{
        font-size: 45px;
    }

    .currentPlayer{
        font-size: 40px;
    }

    .score{
        font-size: 35px;
    }

    .reset{
        width: 16rem;
        margin: 10px;
        border-radius: 20px;
        padding: 5px;
        font-size: 30px;
    }
}

@media(min-width: 2500px){
    .tic-tac button {
        width: 200px;
        height: 200px;
    }

    h1{
        font-size: 85px;
    }

    .currentPlayer{
        font-size: 80px;
    }

    .score{
        font-size: 70px;
    }

    .reset{
        width: 32rem;
        margin: 10px;
        border-radius: 10px;
        padding: 5px;
        font-size: 60px;
        border-radius: 40px;
    }
}